{% extends "template.html" %}
{% block header %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="static/jquery/jquery.js"></script>
  <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
  <style>
        html,body{height:100%;}

    .container-fluid {
      height:100%;
      background-color: grey;
    }
  </style>
</head>
{% endblock %}

{% block javascript %}
<script>
    function change_background(element, color) {
      element.style.backgroundColor = color
    }
  {% for module in modules %}
    setInterval({{ module.function }}, {{ module.interval }});
    function {{ module.function }}() {
      document.getElementById('ting_sound').play();
      $.ajax({
        xhr: function()
        {
          var xhr = new window.XMLHttpRequest();
          //Upload progress
          xhr.upload.addEventListener("progress", function(evt){
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              var x = document.getElementById("{{ module.id }}");
              x.innerHTML = percentComplete;
              console.log(percentComplete);
            }
          }, false);
          //Download progress
          xhr.addEventListener("progress", function(evt){
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              var x = document.getElementById("{{ module.id }}");
              x.innerHTML = percentComplete;
              console.log(percentComplete);
            }
          }, false);
          return xhr;
        },
        type: 'GET',
        url: $SCRIPT_ROOT + "/get_from_module/{{ module.url }}",
        success: function(data){
          var x = document.getElementById("{{ module.id }}");
          x.innerHTML = data;
          setTimeout(change_background.bind(null, x, x.style.backgroundColor), 500);
          x.style.backgroundColor = '#00a4e4';
        }
      });
    }

    {{ module.function }}();

    $("#{{ module.id }}_button").click(function() {
      $("#{{ module.id }}").slideToggle();
    });

  {% endfor %}
</script>
{% endblock %}
