{% extends "template.html" %}
{% block header %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="static/jquery/jquery.js"></script>
  <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
  <style>
        html, body { height:100%; }

    .container-fluid {
      height: 100%;
      background-color: grey;
    }

    .row {
      height: 50%;
    }

    .col-md-6 {
      height: 100%;
    }

    .thumbnail {
      height: 100%;
      overflow-x:scroll;
    }

  </style>
</head>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="static/js/main.js"></script>
{% endblock %}
