{% extends "template.html" %}
{% block header %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="static/jquery/jquery.js"></script>
  <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
  <style>
        html, body { height:100%; }

    .container-fluid {
      height: 100%;
      background-color: grey;
    }
  </style>
</head>
{% endblock %}

{% block javascript %}
<script>
    function change_background(element, color) {
      element.style.backgroundColor = color;
    }

    function build_well(content, id) {
      if (id === "")
        return '<div class="well" style="height: 100%; width: 100%;">' + content + '</div>';
      else
        return '<div id="' + id + '_grid" class="well" style="height: 100%; width: 100%;">' + content + '</div>';
    }

    function build_container(content) {
        return '<div class="container-fluid">' + content + '</div>';
    }

    function build_col_md(content, nb, height) {
        return '<div class="col-md-' + nb + '" style="height: ' + height + '%; padding: 0 !important;margin: 0 !important;">' + content + '</div>';
    }

    function build_row(content, height) {
        return '<div class="row" style="height: ' + height + '%">'+ content + '</div>';
    }

    function build_2x1_grid(c1, c2) {
        return build_container (build_row (build_col_md(c1, 6, 100) + build_col_md(c2, 6, 100), 100));
    }

    function build_2x2_grid(c1, c2, c3, c4) {
        return build_container (build_row (build_col_md(c1, 6, 100) + build_col_md(c2, 6, 100), 50) + build_row (build_col_md(c3, 6, 100) + build_col_md(c4, 6, 100), 50))
    }

    function build_grid(list_modules, count) {
        if (count === 0) {
            return "No modules";
        }
        if (count === 1) {
            var m = list_modules.pop();
            return build_well(m[0], m[1]);
        }
        if (count === 2) {
          var m1 = list_modules.pop();
          var m2 = list_modules.pop();
          return build_2x1_grid(build_well(m1[0], m1[1]), build_well(m2[0], m2[1]));
        }
        var l1 = [[], [], [], []];
        var i = 0;
        while (list_modules.length > 0) {
            l1[i % 4] = l1[i % 4] + [list_modules.pop()];
            i = i + 1;
        }

        return build_2x2_grid(build_grid(l1[0]), build_grid(l1[1]), build_grid(l1[2]),build_grid(l1[3]));
    }

    setInterval(update_panel, 10000)
    function update_panel() {
      $.get($SCRIPT_ROOT + "/module/list", function(data){
          json = JSON.parse(data);
          $("#panel").empty();

          for(var elt in json) {
            $("#panel").html($("#panel").html() + '<button id="' + elt + '_button" type="button" class="btn btn-primary" style="width:100%">' + json[elt] + '</button>');
          }

          $("#panel").html(build_well($("#panel").html()));

          for (var elt in json) {
            (function(elt, json) {
              $("#" + elt + "_button").click(function() {
                $("#" + elt + "_grid").slideToggle();
              });
            })(elt, json)
          }

          $("#content").empty();

          var list_modules = new Array();
          var count = 0;
          for(var elt2 in json) {
            (function(e, j) {
              $.ajax({
                   async: false,
                   type: 'GET',
                   url: $SCRIPT_ROOT + "/get_from_module/" + e,
                   success: function(content_module){
                     list_modules.push([content_module, e]);
                     count += 1;
                     //x.style.backgroundColor = '#00a4e4';
                   }
              });
            })(elt2, json)
          }
          console.log(count);
          $("#content").html(build_grid(list_modules, count));

        });
    }
    update_panel()
</script>
{% endblock %}
